@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");


.product-list-card {
  width:20%;
  height:400px;
  display: flex;
 flex-wrap:wrap ;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: red;
}

.product-list-card-image {
  flex: 50%;
  margin-right: 20px;
}

.product-list-card-image img {
  width: 80%;
  height:200px;
}

.product-list-card-details {
  flex: 50%;
}

.product-list-card-title {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 5px;
}

.product-list-card-price {
  font-size: 15px;
  font-weight: bold;
  color: #e74c3c;
  margin-top: 0;
  margin-bottom: 10px;
}

.product-list-card-description {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 10px;
}

.product-list-card-button {
  display: inline-block;
  background-color:#974d03;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 10px;
  border-radius: 5px;
  text-decoration: none;
}

.product-list-card-button:hover {
  background-color: #af5a05;
}
  
@media screen and (max-width:768px) {


  .product-list-card{
   
   width:45%;
  
  

  }

  
}


@media screen and (max-width:400px) {


  .product-list-card{
   
   width:100%;
  
  

  }

  
}

  
  
  
  
  
