.services-section {
    background-color: #f9f9f9;
    padding: 60px 0;
  }
  
  .section-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
  }
  
  .services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .service-card {
    flex-basis: 30%;
    background-color: #fff;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .service-card img {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .service-title {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .service-description {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .service-button {
    display: inline-block;
    background-color: #e74c3c;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .service-button:hover {
    background-color: #c0392b;
  }


  @media screen and (max-width:400px){
 
       
  .service-card {
    flex-basis: 100%;
    background-color: #fff;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  }