/* CSS for Cart Section */
.cart-section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
  }
  
  th, td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
  }
  
  .cart-item img {
    width: 100px;
    margin-right: 20px;
  }
  
  .cart-item-details {
    flex: 1;
  }
  
  input[type="number"] {
    width: 60px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
  }
  
  tfoot td {
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .cart-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  

  .cart-button{
    text-decoration: none;
    background-color: #831e1e;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 15px 30px;
    cursor: pointer;
    margin-top: 2rem;
    transition: background-color 0.2s ease;
    
  }

  .cart-button:hover{
    background-color: #555;

  }


  .cart-button-small{
    text-decoration: none;
    background-color: #850000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    padding: 7px 7px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    
  }
 
  .cart-button-small:hover{

    background-color: #ad0000;


  }


  @media  screen and (max-width:450px) {
    .cart-section {
      width:100%;
      margin: 0 auto;
      padding: 0;
    }
    .cart-table{
      width:100%;
      display:flex;
      flex-direction: column;
    }

    
    

    .cart-item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    input[type="number"] {
      width: 45px;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 12px;
      text-align: center;
    }
     
    .cart-button{
  
   
     
      border-radius: 5px;
      font-size: 14px;
      padding: 10px 15px;
      cursor: pointer;
      margin: 2rem 5px 0px 5px;
      transition: background-color 0.2s ease;
      font-weight:500;
    }
  
    .cart-button:hover{
      background-color: #555;
  
    }
    
  }


  @media  screen and (max-width:350px) {
    .cart-section {
      width:100%;
      margin: 0 auto;
      padding: 0;
    }
    .cart-table{
      width:100%;
      display:flex;
      flex-direction: column;
    }

    th, td {
      padding: 5.5px;
   
    }
    

    .cart-item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    input[type="number"] {
      width: 40px;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 12px;
      text-align: center;
    }
     
    
    
  }

